.background-1 {
    background-image: url(../images/background1.png);
    height: 800px;
}
.bg-logo {
    display: block;
    margin: 0 auto;
    padding-top: 252px;
}
.background-1-h1 {
    font-size: 48px;
    text-align: center;
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
}
.background-1-h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--SansProfont);
    font-weight: 400;
}