.background-2 {
    height: 666px;
    background-image: url(../images/background2.png);
}
.background-2-h2 {
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    padding-top: 80px;
}
.symbol-container {
    height: 150px;
    width: 150px;
    background-color: #39C2D7;
    border-radius: 50%;
    margin: 35px auto;
    text-align: center;
}
.symbol {
    border: 0px;
    background-color: #39C2D7;
    color: var(--lettercolor);
    font-size: 60px;
    margin-top: 42px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.background-2-h3 {
    color: var(--lettercolor);
    font-family: var(--SansProfont);
    text-align: center;
    font-weight: normal;
    margin-top: 70px;
    line-height: 32px;
    font-size: 24px;
}