footer {
    background: #464547;
    height: 170px;
}
.sml-logo {
    margin-left: 145px;
    margin-top: 19px;
}
.footer-p1 {
    display: inline-block;
    letter-spacing: 0.2em;
    color: var(--lettercolor);
    font-family: var(--SansProfont);
    padding-left: 16px;
    font-size: 18px;
}
.footer-address {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    margin-top: 12px;
    margin-left: 140px;
    font-style: normal;
}
.footer-email {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    margin-left: 140px;
    text-decoration: none;
}
.footer-p2 {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    margin-left: 140px;
}
