section {
    background: #EEEEEE;
    height: 700px;
}
.main-h2 {
    text-align: center;
    font-family: var(--Oswaldfont);
    font-size: 48px;
    color:rgba(70, 69, 71, 1);
    padding-top: 65px;
}
.main-h3 {
    text-align: center;
    font-family: var(--SansProfont);
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-top: 25px;
}
.article1 {
    text-align: center;
    color: var(--articlecolor);
    margin-top: 25px;
    font-family: var(--SansProfont);
    line-height: 22px;
}
.article2 {
    text-align: center;
    color: var(--articlecolor);
    margin-top: 20px;
    font-family: var(--SansProfont);
    line-height: 22px;
}
.button-container {
    text-align: center;
    margin-top: 35px;
}
.rd-button {
    width: 115px;
    height: 36px;
    background-color:#55C2D8;
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    border-radius: 18px;
    border: 0px;
}