:root {
    --lettercolor: #FFFFFF;
    --Oswaldfont: 'Oswald';
    --SansProfont: 'Source Sans Pro';
    --articlecolor: rgba(0, 0, 0, 1);
    --addresscolor: rgba(255, 255, 255, 0.4);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 1200px;
    margin: 0px auto;
}
